2D to 3D Floor Plan Converter - Complete (5).json
{
  "name": "2D to 3D Floor Plan Converter - Complete",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://github.com/yourusername/floorplan-generator"
            },
            {
              "name": "X-Title",
              "value": "Floor Plan Converter"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash-image\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/png;base64,{{ $json.data }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\":\"Convert this 2D floor plan into a clean 3D isometric architectural render. Requirements: Isometric view at 30-35 degree angle, show all walls with 9-10 ft height, maintain exact room layout and proportions, remove all text labels from the image, modern realistic furniture matching room types, soft lighting with ambient occlusion, light beige tiled flooring, neutral colours, clean white background, professional architectural visualization style, floating cutaway view with no ceiling, 4K quality render. DO NOT use top-down view, orthographic projection, wide-angle lens, or distort the original layout proportions.\\n\"\n        }\n      ]\n    }\n  ],\n  \"temperature\": 0.3,\n  \"top_p\": 0.85,\n  \"max_tokens\": 4096\n} ",
        "options": {}
      },
      "name": "OpenRouter - Nano Banana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        80
      ],
      "id": "a6ed98b6-bb8f-4978-8bcc-7449f6409ebc"
    },
    {
      "parameters": {
        "jsCode": "// Extract image URL from OpenRouter response\nconst response = $input.first().json;\nlet imageUrl = response.choices[0].message.images[0].image_url?.url || response.choices[0].message.content;\n\nimageUrl = imageUrl.replace(/^data:image\\/\\w+;base64,/, '');\n// Get original filename (all PNG)\nconst originalFileName = $('filename extraction').first().json.filename || 'floor_plan.png';\n\n\nconst newFileName = originalFileName.replace(/\\.jpg$/i, '_3D.png');\n\nreturn {\n  json: {\n    imageUrl: imageUrl,\n    originalFileName: originalFileName,\n    newFileName: newFileName,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Extract Image URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        80
      ],
      "id": "c432819d-0c21-435f-bf43-d02ca20e33fc"
    },
    {
      "parameters": {
        "fileName": "=C:\\\\Users\\\\RITANKAR\\\\Desktop\\\\NoBroker\\\\floorplan\\\\output\\\\{{ $json.newFileName }}\"",
        "options": {}
      },
      "name": "Save 3D Render to Desktop",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1136,
        80
      ],
      "id": "3c221e70-dddd-4864-a77b-2435dc1a7539"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        96
      ],
      "id": "5998b7d9-5202-49a6-bff8-8a3a911cf0e0",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "731b0450-3df7-4582-a22c-a85497c8d19b",
              "name": "image_url",
              "value": "https://assets.nobroker.in/media/building/8a9fac83954b73c601954b9f19ea0cc1/floorPlan/0meLpDCXmU1740732442311/0meLpDCXmU1740732442311_floorPlan_GiWJSNakI31740735357167.jpg",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        96
      ],
      "id": "c252a2fb-e331-4149-ac9c-0c26fa63f026",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields').item.json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        96
      ],
      "id": "8a2ddea6-e97a-4714-b15c-9db48ae7551e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        288,
        96
      ],
      "id": "2127a56c-375b-4354-9956-b8a008cd69f5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const url = $input.first().json.image_url;\nconst filename = url.split('/').pop();\n\nreturn {\n  json: {\n    filename: filename\n  }\n};;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -144
      ],
      "id": "63c11902-5805-4559-9e62-5aa012cfe365",
      "name": "filename extraction"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "imageUrl",
        "options": {
          "fileName": "={{ $json.newFileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        928,
        80
      ],
      "id": "6bb00e90-75e1-483a-b310-248c19d52c9d",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter - Nano Banana": {
      "main": [
        [
          {
            "node": "Extract Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image URL": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "filename extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "OpenRouter - Nano Banana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filename extraction": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Save 3D Render to Desktop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fa4fd0f3-bdec-44fb-a36c-be8d85499aa8",
  "meta": {
    "instanceId": "f0ef857c1ea7edc0cf39db1e864d7ffadca37208d5ac2e2014ae5cb7ea3dfa40"
  },
  "id": "HK2HtWYjxuV7IlMW",
  "tags": [
    {
      "updatedAt": "2026-03-09T20:19:08.434Z",
      "createdAt": "2026-03-09T20:19:08.434Z",
      "id": "yK4Sz39VI6aaRuL2",
      "name": "NoBroker"
    }
  ]
}